<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="environment" value="#{Environment}" />
		<add key="browser" value="Firefox" />
		<add key="siteUrl" value="#{UrlAppService}#" />
		<add key="iisExpressPath" value="C:\Program Files (x86)\IIS Express\iisexpress.exe" />
		<add key="localSiteUrl" value="http://localhost:43507" />
		<add key="localPort" value="43507" />
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config">
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
