<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome" />
		<add key="appUrl" value="http://localhost:43507/Account/Login?ReturnUrl=%2F&amp;userToImpersonate=Jeffrey%20Palermo" />
		<add key="iisExpressPath" value="C:\Program Files (x86)\IIS Express\iisexpress.exe" />
    <add key="port" value="43507"/>
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config">
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
