<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="OctoPack" version="3.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net461" />
  <package id="Selenium.Support" version="2.50.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net461" />
  <package id="Should" version="1.1.20" targetFramework="net461" />
  <package id="StructureMap" version="4.5.3" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>