<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--
  In order to debug application insights locally the ApplicationInsights.config file must exist.
  The InstrumentationKey is being set via code to the value in AppSettings.
  -->
</ApplicationInsights>