<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">
			NHibernate.Driver.SqlClientDriver
		</property>
    <property name="connection.connection_string">Server=tcp:localhost\SQLEXPRESS2014,1433;Initial Catalog=ClearMeasure.Bootcamp;Persist Security Info=False;User ID=;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</property>
    <property name="show_sql">false</property>
    <property name="dialect">
			NHibernate.Dialect.MsSql2005Dialect
		</property>
    <property name="adonet.batch_size">100</property>
  </session-factory>
</hibernate-configuration>